In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [2]:
house = pd.read_csv('./data/clean_house.csv',index_col=0)
house

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,zipcode,lat,long,sqft_living15,sqft_lot15,month,grade_value,renovated,yr_since_renovate,total_rooms
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0.0,...,98178,47.5112,-122.257,1340,5650,10,7,0.0,60.0,3.00
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0.0,...,98125,47.7210,-122.319,1690,7639,12,7,1.0,24.0,6.75
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0.0,...,98028,47.7379,-122.233,2720,8062,2,6,0.0,82.0,2.00
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0.0,...,98136,47.5208,-122.393,1360,5000,12,7,0.0,50.0,12.00
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0.0,...,98074,47.6168,-122.045,1800,7503,2,8,0.0,28.0,6.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,2014-05-21,360000.0,3,2.50,1530,1131,3.0,0,0.0,...,98103,47.6993,-122.346,1530,1509,5,8,0.0,6.0,7.50
21593,6600060120,2015-02-23,400000.0,4,2.50,2310,5813,2.0,0,0.0,...,98146,47.5107,-122.362,1830,7200,2,8,0.0,1.0,10.00
21594,1523300141,2014-06-23,402101.0,2,0.75,1020,1350,2.0,0,0.0,...,98144,47.5944,-122.299,1020,2007,6,7,0.0,6.0,1.50
21595,291310100,2015-01-16,400000.0,3,2.50,1600,2388,2.0,0,0.0,...,98027,47.5345,-122.069,1410,1287,1,8,0.0,11.0,7.50
21596,1523300157,2014-10-15,325000.0,2,0.75,1020,1076,2.0,0,0.0,...,98144,47.5941,-122.299,1020,1357,10,7,0.0,7.0,1.50

In [3]:
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import sklearn.preprocessing as sk

In [4]:
y = house.price

In [28]:
y_log = np.log(house.price)

In [5]:
# .52633
cols = ['sqft_living','waterfront']

In [6]:
# .5611
cols2 = ['sqft_living','waterfront','grade_value']

In [7]:
# .5608
cols3 = ['sqft_living','waterfront','grade_value','sqft_living15']

In [8]:
#cols4

In [9]:
#cols5

In [10]:
house

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,zipcode,lat,long,sqft_living15,sqft_lot15,month,grade_value,renovated,yr_since_renovate,total_rooms
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0.0,...,98178,47.5112,-122.257,1340,5650,10,7,0.0,60.0,3.00
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0.0,...,98125,47.7210,-122.319,1690,7639,12,7,1.0,24.0,6.75
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0.0,...,98028,47.7379,-122.233,2720,8062,2,6,0.0,82.0,2.00
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0.0,...,98136,47.5208,-122.393,1360,5000,12,7,0.0,50.0,12.00
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0.0,...,98074,47.6168,-122.045,1800,7503,2,8,0.0,28.0,6.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,2014-05-21,360000.0,3,2.50,1530,1131,3.0,0,0.0,...,98103,47.6993,-122.346,1530,1509,5,8,0.0,6.0,7.50
21593,6600060120,2015-02-23,400000.0,4,2.50,2310,5813,2.0,0,0.0,...,98146,47.5107,-122.362,1830,7200,2,8,0.0,1.0,10.00
21594,1523300141,2014-06-23,402101.0,2,0.75,1020,1350,2.0,0,0.0,...,98144,47.5944,-122.299,1020,2007,6,7,0.0,6.0,1.50
21595,291310100,2015-01-16,400000.0,3,2.50,1600,2388,2.0,0,0.0,...,98027,47.5345,-122.069,1410,1287,1,8,0.0,11.0,7.50
21596,1523300157,2014-10-15,325000.0,2,0.75,1020,1076,2.0,0,0.0,...,98144,47.5941,-122.299,1020,1357,10,7,0.0,7.0,1.50

In [11]:
house.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'month', 'grade_value',
       'renovated', 'yr_since_renovate', 'total_rooms'],
      dtype='object')

In [12]:
# .6465
base = ['bedrooms','bathrooms','sqft_living','sqft_lot','floors','waterfront','view','condition','sqft_above','sqft_basement', 'yr_built','yr_renovated','sqft_living15','sqft_lot15','month','grade_value','renovated','yr_since_renovate','total_rooms']

In [13]:
simple = ['sqft_living','waterfront','grade_value']

In [14]:
trainhousex = house.drop(['id','date','grade','price'],axis=1)

In [15]:
colsx = list(trainhousex.columns)

In [16]:
# ohe = pd.get_dummies(house['zipcode'])
# model_house = pd.concat([one_house,ohe],axis=1)

In [17]:
X = house[colsx]

In [29]:
model = LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(X,y_log,test_size =.30, random_state = 42)
#ohe = sk.OneHotEncoder(categories=house['zipcode'],drop='first')
ohe = sk.OneHotEncoder()
tranformed_train = ohe.fit_transform(X_train[['zipcode']])
X_train[ohe.categories_[0]] = tranformed_train.toarray()
transformed_test = ohe.fit_transform(X_test[['zipcode']])
X_test[ohe.categories_[0]] = transformed_test.toarray()
X_train['sqft_living'] = np.log(X_train.sqft_living)
model.fit(X_train, y_train)
predictions = model.predict(X_test)
r2 = r2_score(y_test, predictions)
rmse = mean_squared_error(y_test, predictions, squared=False)
print(r2,rmse)

0.8766459791251907 0.1837674125472506

C:\Users\capta\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int64', 'str']. An error will be raised in 1.2.
  warnings.warn(
C:\Users\capta\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int64', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [19]:
model.coef_

array([-7.72573859e+04, -6.02242077e+04,  1.03738398e+02,  2.02453956e-01,
       -3.47997947e+04,  6.77805114e+05,  5.81675100e+04,  2.89449996e+04,
        8.22545279e+01,  2.23093356e+01, -5.42574660e+01,  3.45124075e+03,
       -1.97786673e+02,  2.27069581e+05, -1.58365552e+05,  2.00197330e+01,
       -1.60125063e-01, -2.88941910e+03,  6.31002511e+04, -6.81415028e+06,
        6.21923357e+02,  2.37155803e+04, -1.70335601e+05, -1.26880984e+05,
       -1.82466988e+05,  5.13241769e+05,  7.85020935e+04,  4.75395771e+04,
        2.92942044e+04,  3.75597225e+04, -5.33838904e+04, -1.32569397e+05,
       -8.09633218e+04, -1.21650193e+05, -1.03720042e+05, -2.00519079e+05,
        6.86508064e+03, -1.41374885e+04, -1.40027488e+05,  3.75637077e+04,
       -1.51642103e+05, -1.53696847e+05, -1.74369996e+05,  1.32737199e+05,
       -4.13134762e+04, -9.92487859e+04,  1.10911425e+06,  3.00100660e+05,
       -1.37835794e+05, -2.22687873e+04,  1.01672182e+04, -4.47991563e+03,
       -1.34386778e+05, -8.91519002e+04, -1.36312953e+05, -9.36990967e+04,
       -6.31339428e+04, -1.86796319e+05, -8.32902816e+04, -1.06615876e+04,
       -1.21432495e+04, -1.04647514e+05, -1.68042757e+05,  2.47679316e+05,
        8.96962016e+04,  2.26987621e+05, -6.73351618e+04,  1.00193890e+05,
       -8.59042675e+04,  2.78310066e+05,  4.21340179e+05,  8.88799590e+04,
        6.69478551e+04,  6.25238629e+04, -3.12564334e+04,  2.47731247e+05,
        1.13066569e+05, -4.57486839e+04, -3.12090373e+04, -8.47446456e+04,
        3.18863202e+04,  6.36486008e+04, -8.21496219e+04, -1.03425230e+05,
       -1.00972211e+05, -1.25826133e+05, -9.62556684e+04, -2.39762896e+04,
       -1.37656694e+05, -1.23116503e+05, -1.59402112e+05,  1.51178078e+05])

In [20]:
list(zip(X_train.columns, model.coef_))

[('bedrooms', -77257.38589852759),
 ('bathrooms', -60224.207737319775),
 ('sqft_living', 103.73839758122497),
 ('sqft_lot', 0.20245395632119312),
 ('floors', -34799.79472349136),
 ('waterfront', 677805.1141534644),
 ('view', 58167.50997663479),
 ('condition', 28944.999592141652),
 ('sqft_above', 82.25452789672454),
 ('sqft_basement', 22.309335602796637),
 ('yr_built', -54.257466008813935),
 ('yr_renovated', 3451.2407546562317),
 ('zipcode', -197.78667334129568),
 ('lat', 227069.5805446777),
 ('long', -158365.5522944523),
 ('sqft_living15', 20.01973303867271),
 ('sqft_lot15', -0.16012506345578004),
 ('month', -2889.419102202468),
 ('grade_value', 63100.25108302078),
 ('renovated', -6814150.27997712),
 ('yr_since_renovate', 621.9233573011152),
 ('total_rooms', 23715.580277775152),
 (98001, -170335.60069156997),
 (98002, -126880.98446501045),
 (98003, -182466.98755128615),
 (98004, 513241.7693486801),
 (98005, 78502.09353739045),
 (98006, 47539.577104736076),
 (98007, 29294.20437757246),
 (98008, 37559.72249041392),
 (98010, -53383.89042679098),
 (98011, -132569.3973510468),
 (98014, -80963.32182655738),
 (98019, -121650.19291118177),
 (98022, -103720.04213574904),
 (98023, -200519.07864727074),
 (98024, 6865.080643902297),
 (98027, -14137.488534567849),
 (98028, -140027.48786852253),
 (98029, 37563.707732560346),
 (98030, -151642.10319893196),
 (98031, -153696.8472300521),
 (98032, -174369.99634465037),
 (98033, 132737.19885605056),
 (98034, -41313.47617242506),
 (98038, -99248.78585367207),
 (98039, 1109114.2525349543),
 (98040, 300100.6602016047),
 (98042, -137835.79419587983),
 (98045, -22268.78728154031),
 (98052, 10167.218180358159),
 (98053, -4479.915629316868),
 (98055, -134386.77799351915),
 (98056, -89151.90023736021),
 (98058, -136312.95292364396),
 (98059, -93699.09665674897),
 (98065, -63133.94277592566),
 (98070, -186796.31889382604),
 (98072, -83290.28156180393),
 (98074, -10661.587553045529),
 (98075, -12143.249507354174),
 (98077, -104647.5144071465),
 (98092, -168042.75671156787),
 (98102, 247679.31578780137),
 (98103, 89696.20155915918),
 (98105, 226987.62057105513),
 (98106, -67335.16182009941),
 (98107, 100193.88951669865),
 (98108, -85904.26749147566),
 (98109, 278310.0664793282),
 (98112, 421340.1792669277),
 (98115, 88879.95895837568),
 (98116, 66947.85506941438),
 (98117, 62523.86290595407),
 (98118, -31256.433356254227),
 (98119, 247731.24740462573),
 (98122, 113066.56871525268),
 (98125, -45748.683913500165),
 (98126, -31209.037275611077),
 (98133, -84744.64562020873),
 (98136, 31886.32015845172),
 (98144, 63648.60080043424),
 (98146, -82149.62194082282),
 (98148, -103425.2303889608),
 (98155, -100972.21121083022),
 (98166, -125826.1325486415),
 (98168, -96255.66840782501),
 (98177, -23976.289595492573),
 (98178, -137656.69352395568),
 (98188, -123116.50301051297),
 (98198, -159402.11230040295),
 (98199, 151178.07775343402)]

In [21]:
feature = house.drop(['id','zipcode','date','grade'],axis=1)

In [22]:
feature

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,...,yr_renovated,lat,long,sqft_living15,sqft_lot15,month,grade_value,renovated,yr_since_renovate,total_rooms
0,221900.0,3,1.00,1180,5650,1.0,0,0.0,3,1180,...,0.0,47.5112,-122.257,1340,5650,10,7,0.0,60.0,3.00
1,538000.0,3,2.25,2570,7242,2.0,0,0.0,3,2170,...,1991.0,47.7210,-122.319,1690,7639,12,7,1.0,24.0,6.75
2,180000.0,2,1.00,770,10000,1.0,0,0.0,3,770,...,0.0,47.7379,-122.233,2720,8062,2,6,0.0,82.0,2.00
3,604000.0,4,3.00,1960,5000,1.0,0,0.0,5,1050,...,0.0,47.5208,-122.393,1360,5000,12,7,0.0,50.0,12.00
4,510000.0,3,2.00,1680,8080,1.0,0,0.0,3,1680,...,0.0,47.6168,-122.045,1800,7503,2,8,0.0,28.0,6.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,360000.0,3,2.50,1530,1131,3.0,0,0.0,3,1530,...,0.0,47.6993,-122.346,1530,1509,5,8,0.0,6.0,7.50
21593,400000.0,4,2.50,2310,5813,2.0,0,0.0,3,2310,...,0.0,47.5107,-122.362,1830,7200,2,8,0.0,1.0,10.00
21594,402101.0,2,0.75,1020,1350,2.0,0,0.0,3,1020,...,0.0,47.5944,-122.299,1020,2007,6,7,0.0,6.0,1.50
21595,400000.0,3,2.50,1600,2388,2.0,0,0.0,3,1600,...,0.0,47.5345,-122.069,1410,1287,1,8,0.0,11.0,7.50
21596,325000.0,2,0.75,1020,1076,2.0,0,0.0,3,1020,...,0.0,47.5941,-122.299,1020,1357,10,7,0.0,7.0,1.50

In [23]:
scaler = sk.StandardScaler()
scaled = scaler.fit_transform(X_train)

C:\Users\capta\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int64', 'str']. An error will be raised in 1.2.
  warnings.warn(
C:\Users\capta\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int64', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [24]:
scaled

array([[-1.51605771, -0.47946605, -1.10943456, ..., -0.08201316,
        -0.11549714, -0.12374699],
       [-1.51605771,  0.49282267,  0.31838906, ..., -0.08201316,
        -0.11549714, -0.12374699],
       [ 0.68931608,  2.11330388,  1.19455355, ..., -0.08201316,
        -0.11549714, -0.12374699],
       ...,
       [ 0.68931608, -0.8035623 , -0.60104282, ..., -0.08201316,
        -0.11549714, -0.12374699],
       [-2.6187446 , -1.77585102, -1.84498006, ..., -0.08201316,
        -0.11549714, -0.12374699],
       [ 0.68931608,  0.49282267,  0.72402077, ..., -0.08201316,
        -0.11549714, -0.12374699]])

In [25]:
scale = pd.DataFrame(scaled)

In [26]:
cols = list(feature.columns)

In [27]:
scale.columns = cols

ValueError: Length mismatch: Expected axis has 92 elements, new values have 22 elements

In [ ]:
scale